@charset "UTF-8";

@font-face {
    font-family: MontserratR;
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: MontserratL;
    src: url('../fonts/Montserrat-Light.otf');
}

header{
  background: none;
  height: auto;
}

header h1{
  margin: 0;
  margin-top: 20px;
  position: static !important;
}

html, body{
  height: 100%;
  width: 100%;
  display: table;
}

body{
  margin: 0;
  background-attachment: fixed;
	font-family: MontserratR, sans-serif;
	background-image: url('background.jpg');
  color: black !important;
	/*padding-bottom: 100px;*/
}

caption{
	color: #30363E;
	padding: 30px;
	font-size: 2em;
}

table{
	width: 900px;
	margin: auto;
	border-collapse: collapse;
	-moz-box-shadow: 0px 3px 6px 0px #656565;
	-webkit-box-shadow: 0px 3px 6px 0px #656565;
	-o-box-shadow: 0px 3px 6px 0px #656565;
	box-shadow: 0px 3px 6px 0px #656565;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

tr:nth-child(odd) {
	font-family: MontserratL;
	background: #FFF;
}
tr:nth-child(even) {
	font-family: MontserratL;
    background: #F2F2F2;
}
tr:nth-child(even) td:last-child {
    background: #DFDFDF;
    font-family: MontserratR;
    font-weight: bold;
}
tr:nth-child(odd) td:last-child {
    background: #EBEBEB;
    font-family: MontserratR;
    font-weight: bold;
}

tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
    background: white;
}

tr:first-child td:last-child{
    border-radius: 0 10px 0 0;
}

tr:last-child td:last-child{
    border-radius: 0 0 10px 0;
}

tr:last-child td:first-child{
    border-radius: 0 0 0 10px;
}

td:last-child{
	text-align: center;
	width: 150px;
}

td{
	padding: 8px 50px;
}

.total td{
    background-color: #6ECF89 !important;
    border-radius: 10px 0 0 10px !important;
}

.total td:last-child{
    background-color: #65BF7E !important;
    border-radius: 0 10px 10px 0 !important;
}

.submit_form{
	margin: auto;
	width: 900px;
}

.t{
	border-radius: 0px;
	background: red !important;
}

#btn{
	margin-top: 60px;
	border-radius: 10px;
	width: 150px;
	height: 35px;
	background: white;
	color: #30363E;
	border : none;
	font-family: MontserratR;
	font-size: 1.3em;
	transition: 0.3s all ease;
	-moz-box-shadow: 0px 3px 6px 0px #656565;
	-webkit-box-shadow: 0px 3px 6px 0px #656565;
	-o-box-shadow: 0px 3px 6px 0px #656565;
	box-shadow: 0px 3px 6px 0px #656565;
}

#btn:hover{
	background: #F2F2F2;
}

#btn:focus{
	outline: none;
}

.poursuivre{
	margin-left: 595px;
}

.content{
  margin: auto;
  text-align: center;
  /*display: table-cell;*/
  height: 100%;
  vertical-align: middle;
}

.button img{
  margin-top: 20px;
  width: 300px;
  opacity: 0.7;
  transition: 0.3s all;
}

.button:hover img{
  transition: 0.3s all;
  opacity: 1;
}

.chkBox{
	width: 150px;
}

.chk{
	float: left;
}

.chktext{
	float: right;
}

input[type=checkbox]:not(old),
input[type=radio]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio]:not(old) + label > span{
  display          : inline-block;
  width            : 1em;
  height           : 1em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  vertical-align   : bottom;
  background       : white;
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1.1em;
  color       : black;
  font-size   : 0.875em;
  line-height : 1.2em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background-color : white;
}











.onglet{
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;


}

.logo{
    position: absolute;
    top: 2px;
    left: 10px;
    z-index: 1;
    color: black;
    float: left;
}

/* FIN NAVBAR */

.title{
    position: relative;
    text-align: center;
    color: #333333;
    top: 60px;
    font-size: 48px;
}

/* Début Container 1 */

.head-container1-text{
    font-size: 24px;
    color: #b2b2b2;
    margin-left: 30px;
    padding-top: 5px;
}

.head-container1{
    background-color: #e6e6e6;
    width: 1140px;
    height: 40px;
    border-radius: 10px 10px 0px 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}
.container1{
    background: #ffffff;
    width: 1140px;
    height: 360px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: inherit;
    min-height: inherit;
}
.container1-text{
    font-size: 16px;
    margin-right: 15%;
    margin-left: 15%;
    padding-top: 40px;
}
.container1-text2{
    font-size: 22px;
    padding-top: 60px;
}

/* DEBUT Bouton Download */

.button-download{
    background-color: #30d269;
    width: 230px;
    height: 60px;
    margin-left: 40%;
    margin-top: 60px;
    -moz-box-shadow: 0px 3px 0px 0px #26a854;
    -webkit-box-shadow: 0px 3px 0px 0px #26a854;
    -o-box-shadow: 0px 3px 0px 0px #26a854;
    box-shadow: 0px 3px 0px 0px #26a854;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#26a854, Direction=180, Strength=0);
}
.button-download-case{
    height: 60px;
    width: 60px;
    background-color: #29b359;
    -moz-box-shadow: 0px 3px 0px 0px #208f47;
    -webkit-box-shadow: 0px 3px 0px 0px #208f47;
    -o-box-shadow: 0px 3px 0px 0px #208f47;
    box-shadow: 0px 3px 0px 0px #208f47;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#208f47, Direction=180, Strength=0);
}

.download-icon{
    font-size: 50px;
    color: #1d8040;
    transition: 0.3s all;
}

.button-download-text{
    color: #1d8040;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-top: -50px;
    margin-left: 60px;
    transition: 0.3s all;
}

.underline{
    text-decoration: none;
}

.underline:hover .button-download-text, .underline:hover .download-icon{
    color: white;
    transition: 0.3s all;
}

/* FIN Bouton Download */
/* FIN Container 1 */

/* DEBUT Container 2 */

.head-container2-text{
    font-size: 24px;
    color: #b2b2b2;
    margin-left: 30px;
    padding-top: 5px;
}

.head-container2{
    background-color: #e6e6e6;
    width: 1140px;
    height: 40px;
    border-radius: 10px 10px 0px 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.container2{
    background-color: #ffffff;
    width: 1140px;
    height: 360px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: inherit;
    min-height: inherit;
    position: inherit;
}
.container2-text{
    font-size: 22px;
    margin-right: 15%;
    margin-left: 15%;
    padding-top: 40px;
}

.schema{
    padding-top: 50px;
}

/* FIN Container 2 */
/* DEBUT Container 3 */

.head-container3-text{
    font-size: 24px;
    color: #b2b2b2;
    margin-left: 30px;
    padding-top: 5px;
}

.head-container3{
    background-color: #e6e6e6;
    width: 1140px;
    height: 40px;
    border-radius: 10px 10px 0px 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.container3{
    background-color: #ffffff;
    width: 1140px;
    height: 360px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: inherit;
    min-height: inherit;
    position: inherit;
}
.container3-text{
    font-size: 22px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
}

.url-box{
    background: #e6e6e6;
    border: 1px solid #cccccc;
    width: 600px;
    height: 30px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    -moz-box-shadow: inset 0px 0px 5px 2px #cfcfcf;
    -webkit-box-shadow: inset 0px 0px 5px 2px #cfcfcf;
    -o-box-shadow: inset 0px 0px 5px 2px #cfcfcf;
    box-shadow: inset 0px 0px 5px 2px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=5);
    outline: none;
    font-size: 16px;
    text-indent: 10px;
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

.url-box:focus{
    outline: none;
    font-size: 16px;
    text-indent: 10px;
    font-family: 'Montserrat', sans-serif;
    color: grey;
}
/* DEBUT Bouton Valider */

.button-validate{
    font-size: 26px;
    color: #295080;
    background-color: #4687d8;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    border: none;
    margin: auto;
    margin-top: 60px;
    display: block;
    -moz-box-shadow: 0px 3px 0px 0px #2e588d;
    -webkit-box-shadow: 0px 3px 0px 0px #2e588d;
    -o-box-shadow: 0px 3px 0px 0px #2e588d;
    box-shadow: 0px 3px 0px 0px #2e588d;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#2e588d, Direction=180, Strength=0);
    transition: 0.3s all;
    margin-top: 20px;
}

.button-validate:focus{
    outline: none;
}

.button-validate:hover{
    color: white;
    transition: 0.3s all;
}
/* FIN Bouton Valider */

/* FIN Container 3 */
