@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: MontserratBold;
    src: url('../fonts/Montserrat-SemiBold.otf');
}

@font-face {
    font-family: MyriadPro;
    src: url('../fonts/MyriadPro-Regular.otf');
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
    background-color: #262626;
    color: #fff;
	/*padding-bottom: 100px;*/
}

a, a:hover, a:focus{
    text-decoration: inherit;
    color: inherit;
}

/* NAVBAR */

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
    font-size: 50px;
    transition: 0.3s;
    font-family: 'MontserratBold';
}

#custom-bootstrap-menu.navbar-default .navbar-brand:hover {
    opacity: 0.5;
}

#custom-bootstrap-menu.navbar-default {
    font-size: 18px;
    background-color: rgba(38, 38, 38, 1);
    border-bottom-width: 0px;
    height: 60px;
    padding-top: 6px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(153, 153, 153, 1);
    background-color: rgba(38, 38, 38, 1);
    text-transform: uppercase;
    transition: 0.3s;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(38, 38, 38, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(38, 38, 38, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #fff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #262626;
}

.navbar{
    margin-bottom: 0px;
}

/* CONNEXION */

.connexion{
    background-color: #333333;
    height: 35px;
    width: 100%;
    font-family: MyriadPro;
    font-size: 16px;
    line-height: 35px;
}

.connexion ul{
    float: right;
    margin-bottom: 0;
}

.connexion a{
    color: #fff;
    transition: 0.3s;
}

.connexion a:hover{
    opacity: 0.5;
}

/* FIN NAVBAR */

/* PAGE D'ACCUEIL */

header{
    width: 100%;
    height: 600px;
    background-color: #262626;
    overflow: hidden;
    position: relative;
    /*top: -10px;*/
}

header video{
    width: 100%;
    margin: 0px;
    opacity: 0.1;
    margin-top: -580px;
    z-index: -5;
}

header h1{
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin-top: 250px;
    opacity: 0.85;
}

header h2{
    color: #fff;
    font-size: 22px;
    text-align: center;
    opacity: 0.85;
}

.container1{
    width: 100%;
    min-height: 800px;
    height: auto;
    background: url(../img/container1.png) #262626;
    margin-top: -10px;
    text-align: center;
}

.container1 h1{
    font-size: 38px;
    color: #fff;
    margin-top: 40px;
}

.container1 p{
    padding: 20px;
    color: #fff;
    font-size: 18px;
}

.container1 img{
    margin-top: 30px;
    transition: 0.6s;
    width: 100%;
    max-width: 786px;
}

.container1 img:hover{
    transform: scale3d(1.05,1.05,1);
}

.container2_top{
    background: url(../img/deco_top.png) no-repeat center;
    height: 100px;
    width: 100%;
    position: relative;
    z-index: 5;
    top: -105px;
}

.container2{
    width: 100%;
    min-height: 800px;
    background-color: #404040;
    position: relative;
    top: -105px;
    text-align: center;
}

.container2 h1{
    font-size: 38px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 100px;
}

.container2_bottom{
    background: url(../img/deco_bottom.png) no-repeat center;
    height: 100px;
    width: 100%;
    position: relative;
    z-index: 5;
    top: -105px;
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: #262626;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    font-size: 60px;
    line-height: 95px;
    color: #fff;
    margin: auto;
}

.avantage{
    transition: 0.5s;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}

.avantage:hover{
    transform: scale3d(1.1,1.1,1);
}

.avantage h2{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.avantage p{
    font-size: 14px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.container3{
    width: 100%;
    min-height: 720px;
    background-color: #262626;
    position: relative;
    top: -205px;
    text-align: center;
}

.container3 h1{
    font-size: 38px;
    color: #fff;
    margin-top: 130px;
}

.container3 p{
    padding: 20px;
    color: #fff;
    font-size: 18px;
}

.container3 img{
    max-width: 1148px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: -500px;
    transition: 0.6s;
}

.container3 img:hover{
    transform: scale3d(1.1,1.1,1);
}

/* FIN PAGE D'ACCUEIL */




/* FOOTER */

footer{
    background-color: #404040;
    width: 100%;
    height: 100px;
}

#footer-logo{
    font-size: 60px;
    color: #262626;
    font-family: 'MontserratBold';
    padding-top: 5px;
    cursor: default;
}

footer ul{
    float: right;
    margin-top: -60px;
    font-size: 16px;
}

footer li{
    color: #262626;
    transition: 0.3s;
}

footer li:hover{
    color: #fff;
}

footer li:after{
    content: '|';
    margin-left: 12px;
}

footer li:hover:after{
    content: '|';
    color: #262626;
}

footer li:last-child:after{
    content: '';
}

#copyright{
    color: #262626;
    font-family: MyriadPro;
    float: right;
    margin-top: -30px;
    margin-right: 20px;
}

/* FIN FOOTER */

/* LOGIN */

.pre-footer{
    margin-bottom: 450px;
}

.btn{
    background-color: #404040;
    transition: 0.3s;
}

.supdate-main{
    background: white;
    color: black;
}

.supdate{
    width: 1000px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.supdate-main table{
    margin: 0;
}

.download{
    padding: 10px;
    background: #26303d;
    color: white;
    margin-bottom: 40px;
    width: 250px;
    display: inline-block;
    text-align: center;
}

.download:hover{
    color: whitesmoke;
    background: #171c23;
}

.supdate a:hover{
    color: #1b6d85;
}