@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Rajdhani:400,500,700,600,300);
@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 28px 0;
    }
}

html, body{
    overflow: hidden !important;
}

body{
	font-family: 'Rajdhani', sans-serif;
	background: #3c78d8;
	margin: 0;
	padding: 0;
	-moz-user-select     : none;
	-khtml-user-select   : none;
	-webkit-user-select  : none;
	-o-user-select       : none;
	user-select          : none;
}

.workspace, .workspaceOption, .workspaceBoot{
	background-size: 100% 100%;
    box-shadow: 0 0 7px black;
}

.farbtastic{
	margin: auto;
}

.trashhover{
	color: red !important;
}

.focus{
	outline: 2px dashed #00AFEC;
}

.suivant{
	position : absolute;
	bottom : 0px;
    right: 0px;
    padding: 10px;
    font-size: 2em;
    cursor: default;
}

.suivant:hover{
	color: red;
}

.setupContainer{
	width: 3600px;
}

.setup{
	position: absolute;
	text-align: center;
    font-size: 1em;
    height: 100%;
    width: 1200px;
    /*background: url("../img/setupbg.jpg") repeat;*/
    background-size: 100% auto;
}

.setupTitle{
	font-size: 1.7em;
	margin-bottom: 50px;
	font-weight: normal;
	color: white;
	padding: 20px;
	margin: 0;
}

.setupDiv{
	display: table-cell;
	padding: 25px;
	color: white;
}

#demoLauncher, #demoOption, #demoBoot{
	margin-top: 50px;
	border: 2px solid white;
	border-radius: 3px;
}

#suivant, #suivant2, #finish{
	position: absolute;
	background: #B9AC9C;
	color: white;
	bottom: 0;
	border: none;
	width: 150px;
	margin-left: 180px;
	margin-bottom: 20px;
	border: 1px solid white;
}

.nooption{
	position: absolute;
	background: #B9AC9C;
	color: white;
	bottom: 0;
	border: none;
	width: 150px;
	margin-bottom: 20px;
	border: 1px solid white;
	margin-left: -5px;
}

.inputSetup{
	width: 250px;
	height: 30px;
	border-radius: 7px;
	border: 1px solid white;
	margin-top: 10px;
	color: white;
	background: #B9AC9C;
	text-indent: 3px;
}

.inputSetup:focus{
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.inputBtnSetup{
	height: 30px;
	border-radius: 7px;
	border: 1px solid white;
	margin-top: 10px;
	color: white;
	background: #B9AC9C;
	text-indent: 3px;
}

.setup h4 {
    -webkit-margin-after: -1em !important;
}

.retour{
	position: absolute;
	background: #B9AC9C;
	color: white;
	bottom: 0;
	border: none;
	width: 150px;
	margin-bottom: 20px;
	border: 1px solid white;
	left: 20px;
}

/** NAVBAR */

nav{
  box-shadow: 0 0px 11px black;
  position: absolute;
  height: 100%;
  background: #333;
  color: white;
  z-index: 99999;
}

nav ul{
  margin: 0;
  padding: 0;
  height: 100%;
}

nav li{
  padding: 20px;
  background: #333;
  transition: 0.2s all;
    cursor: pointer;
}

nav li:hover{
  transition: 0.5s all;
  background: #222;
}

.save{
	background: rgb(102, 102, 102);
}

.save:hover{
    background: rgb(85, 85, 85);
}

.export{
	background: rgb(28, 175, 80);
}

.export:hover{
	background: rgb(35, 140, 72);
}

.menuitems{
	position: absolute;
	left: 57px;
    top: 0px;
	width: 200px;
	height: 100%;
    background: #333;
	/* overflow: scroll; */
}

.scroll{
    height: 100%;
}

.scroll li{
    cursor: pointer;
}

/** NAVBAR */

.drawimg{
	width: 100%;
}

.allItem{
  width: 14px;
  transition: 0.2s background;
  padding: 10px;
  background: #222;
  text-align: center;
    cursor: pointer;
}

.allItem:hover{
  transition: 0.2s background;
  background: #333;
}

li{
	list-style: none;
}

.containerOpt{
	box-shadow: -2px 0 11px black;
	float: right;
	width: 322px;
	position: absolute;
	height: 100%;
	right: 0px;
	top: 0px;
	background: #333;
	color: white;
	font-family: 'Rajdhani', sans-serif;
	z-index: 9999999999999;
}

#opt{
	padding: 15px;
	padding-bottom: 40px;
}

#opt h1{
  text-align: center;
}

#opt h3{
	-webkit-margin-after: 0em;
}


.element{
  position: absolute !important;
  z-index: 1;
}

.element:focus{
  outline: 2px dashed #00AFEC;
}

.RectElement{
	width: 50px;
	height: 50px;
	background: white;
}

.FaElement{
	background: transparent;
	/*font-size: 2em !important;*/
}

.TextfieldElement{
	border : none;
}

.fontDisp{
	font-size: 1.5em;
}

/* GUI */

.guiContainer{
	margin: 0;
	padding: 0;
	/* font-family: Sans-serif; */
	height: 100%;
	/*background: #333;*/
	/*overflow: scroll;*/
	display: inline-block;
	width: 100%;
}

.guiTitle{
	margin-top: 15px;
	padding: 20px;
	color: white;
	font-size: 3em;
	text-align : center;
}

.guiDetail{
	width: 100%;
	height: 100%;
}

.guiNav{
	margin : 0;
	padding: 0;
	width: 300px;
	background : #A69A8B;
	margin-top : -16px;
	float: left;
	border-right: 3px solid #E3DBD1;
	height: 616px;
}

.guiNav ul{
	margin-top: -15px;
	padding: 0;
	margin: 0;
	font-size: 1.7em;
	text-align: center;
}


.guiNav ul li{
	cusrsor: Pointer;
	color: white;
	padding: 15px;
	transition: 0.3s all;
	/*border-bottom: 1px solid white;*/
}

.guiNav ul > li:first-child {
    border-top: 1px solid white;
}


.guiNav ul li:hover{
	color: #A69A8B;
	background: white;
}

.guiDetail{
	color: #A69A8B;
}

.helpTitle{
	font-size: 1.8em;
	text-align: center;
}

.helpDesc{
	padding: 20px;
	margin-left: 30px;
	font-size: 1.3em;
	font-weight: 500;
}

.faSymbolShow{
	font-size: 120px;
	margin-left: 50px;
	margin-top: 20px;
	color: black;
}

.faTextShow{
	margin-left: 50px;
	margin-top: 50px;
	color: black;
}

.listDesc li{
	list-style: circle;
}

.listDescInline{
	display: flex;
	text-align: center;
}

.listDescInline img{
	margin-right: 40px;
	margin-top: 20px;
}

.underlined{
	text-decoration: underline;
	margin-right: 10px;
}

/* GUI */


/*ON OFF*/
.switch input {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.switch {
  width: 180px;
  height: 22px;
  position: relative;
  margin: 10px auto;
}

.switch label {
  display: block;
  width: 80%;
  height: 100%;
  position: relative;
  background: #1F2736; /*#121823*/
  background: linear-gradient(#121823, #161d2b);
  border-radius: 30px 30px 30px 30px;
  box-shadow: inset 0 3px 8px 1px rgba(0,0,0,0.5),  inset 0 1px 0 rgba(0,0,0,0.5),  0 1px 0 rgba(255,255,255,0.2);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.switch input ~ label i {
  display: block;
  height: 22px;
  width: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  border-radius: inherit;
  background: #283446; /* Fallback */
  background: linear-gradient(#36455b, #283446);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),  0 0 8px rgba(0,0,0,0.3),  0 12px 12px rgba(0,0,0,0.4);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.switch label + span {
  content: "";
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 3px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background: #283446;
  background: gradient-gradient(#36455b, #283446);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.2),  0 1px 0 rgba(255,255,255,0.1),  0 0 10px rgba(185,231,253,0),  inset 0 0 8px rgba(0,0,0,0.9),  inset 0 -2px 5px rgba(0,0,0,0.3),  inset 0 -5px 5px rgba(0,0,0,0.5);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2;
}

.switch input:checked ~ label + span {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 1;
  background: #b9f3fe;
  background: gradient-gradient(#ffffff, #77a1b9);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1),  0 1px 0 rgba(255,255,255,0.1),  0 0 10px rgba(100,231,253,1),  inset 0 0 8px rgba( 61,157,247,0.8),  inset 0 -2px 5px rgba(185,231,253,0.3),  inset 0 -3px 8px rgba(185,231,253,0.5);
}

.switch input:checked ~ label i {
  left: auto;
  left: 87%;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),  0 0 8px rgba(0,0,0,0.3),  0 8px 8px rgba(0,0,0,0.3),  inset -1px 0 1px #b9f3fe;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

/*ON OFF*/

/* TEXTFIELD */

.textfield{
 /*margin-top: 20px;*/
  padding: 0;
  text-align : center;
}

/*input[type="text"] */

.textfield input, .textfield{
  width: 277px;
  height: 30px;
  background: linear-gradient(#121823, #161d2b);
  border: none;
  margin-bottom: 10px;
  color: white;
  border-radius: 3px;
  box-shadow: inset 0 3px 8px 1px rgba(0,0,0,0.5),  inset 0 1px 0 rgba(0,0,0,0.5),  0 1px 0 rgba(255,255,255,0.2);
  /*text-indent: 5px;*/
}

.textfield input:focus{
  outline: none;
}

.textfield2 input, .textfield2{
  width: 100%;
  height: 30px;
  background: linear-gradient(#121823, #161d2b);
  border: none;
  margin-bottom: 10px;
  color: white;
  border-radius: 3px;
  box-shadow: inset 0 3px 8px 1px rgba(0,0,0,0.5),  inset 0 1px 0 rgba(0,0,0,0.5),  0 1px 0 rgba(255,255,255,0.2);
  /*text-indent: 5px;*/
  text-align: center;
}

.textfield2 input:focus{
  outline: none;
}

/* TEXTFIELD */

/* SELECT BOX */

.selectbox{
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-block;
  width: 100%;
}

.selectheaderbox{
  margin: 0;
  padding: 0;
  background: linear-gradient(#121823, #161d2b);
  border-radius: 3px;
  box-shadow: inset 0 3px 8px 1px rgba(0,0,0,0.5),  inset 0 1px 0 rgba(0,0,0,0.5),  0 1px 0 rgba(255,255,255,0.2);
  color: white;
  /*padding: 16px;*/
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 30px;
}

.selectheaderbox:focus{
  outline: none;
}

.selectheaderbox:after{
  content: '\25bc';
  float: right;
}

.selectcontent{
  display: none;
  position: absolute;
  background: linear-gradient(#121823, #161d2b);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 100%;
  overflow: auto;
}

.selectcontent ul{
  margin: 0;
  padding: 0;
  color: white;
  list-style : none;
  background: linear-gradient(#121823, #161d2b) !important;
  box-shadow: inset 0 3px 8px 1px rgba(0,0,0,0.5),  inset 0 1px 0 rgba(0,0,0,0.5),  0 1px 0 rgba(255,255,255,0.2);
  height: 100px;
}

.selectcontent2{
	height: 120px;
	overflow: hidden;
}

.selectcontent ul li{
  padding: 10px;
  background: transparent;
}

.selectcontent ul li:hover{
  background: red;
}

.selectcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.selectcontent a:hover {background-color: #f1f1f1}

.selectbox:hover .selectcontent {
    display: block;
}

.selectbox:hover .selectheaderbox {
    background-color: #3e8e41;
}

/* SELECT BOX */

/* CHECKBOX OPTIONS */

.squaredThree{
	padding-bottom: 5px;
}

.chk[type="checkbox"]:not(:checked), .chk[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.chk[type="checkbox"]:not(:checked) + label,
.chk[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  padding-top: 2px;
  color: white;
  cursor: pointer;
}

.chk[type="checkbox"]:not(:checked) + label:before,
.chk[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  background: linear-gradient(#121823, #161d2b);
  border-radius: 3px; /* angles arrondis */
  box-shadow: inset 0 3px 8px 1px rgba(0,0,0,0.5),  inset 0 1px 0 rgba(0,0,0,0.5),  0 1px 0 rgba(255,255,255,0.2);
}

.chk[type="checkbox"]:not(:checked) + label:after,
.chk[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 4px;
  font-size: 14px;
  color: red;
  transition: all .2s;
}

.chk[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.chk[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.chk[type="checkbox"]:disabled:not(:checked) + label:before,
.chk[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

.chk[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

.chk[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* CHECKBOX OPTIONS */

/* BUTTON OPTIONS */

.buttonC, #minus, #plus, #minusborder, #plusborder{
  height: 30px;
  width: 30px;
  background: #780909;
  border: none;
  /*box-shadow:  0 3px 8px 1px rgba(0,0,0,0.5),  0 1px 0 rgba(0,0,0,0.5),  0 1px 0 rgba(255,255,255,0.2);*/
  color: WHITE;
}

.buttonC:focus, #minus:focus, #plus:focus{
  outline: none;
}

.buttonC:hover, #minus:hover, #plus:hover{
  outline-style: outset;
  outline-width: 1px;
}

#convert{
  width: auto;
}

/* BUTTON OPTIONS */

/* SLIDER OPTIONS */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: inset 0 3px 8px 1px rgba(0,0,0,0.5),  inset 0 1px 0 rgba(0,0,0,0.5),  0 1px 0 rgba(255,255,255,0.2);
  background: linear-gradient(#121823, #161d2b);
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #780909;
  border: 1px solid #780909;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #B70303;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(#121823, #161d2b);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: inset 0 3px 8px 1px rgba(0,0,0,0.5),  inset 0 1px 0 rgba(0,0,0,0.5),  0 1px 0 rgba(255,255,255,0.2);
  background: linear-gradient(#121823, #161d2b);
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #780909;
  border: 1px solid #780909;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #B70303;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: linear-gradient(#121823, #161d2b);
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: linear-gradient(#121823, #161d2b);
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #780909;
  border: 1px solid #780909;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #B70303;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: linear-gradient(#121823, #161d2b);
}
input[type=range]:focus::-ms-fill-upper {
  background: linear-gradient(#121823, #161d2b);
}

/* SLIDER OPTIONS */

/* ORDER BOX */

.orderbox{
  position: absolute;
  bottom: 0;
  left: 57px;
  width: 300px;
  height: 400px;
  background-color: #333;
  opacity: 0.75;
  padding: 15px;
  z-index: 10;
}

.orderbox ul{
  list-style: none;
  padding: 0;
  opacity: 1;
  margin-left: 10px;
}

.orderboxitem{
  width: 100%;
  height: 20px;
  color: white;
  padding: 3px;
  padding-left: 7px;
  margin-left: 3px;
  font-style: italic;
  transition: all .3s;
}

.orderboxitem:hover{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}

.orderboxitem_select{
	background: rgba(255, 255, 255, 0.3);
}
/* ORDER BOX */

/* NOTIF */

.notifContainer{
  width: 600px;
  margin-left: auto ;
  margin-right: auto ;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  /*padding: 10px;*/
  padding-right: 5px;
  z-index: 999;
}

.notifContent{
	margin-left: 40px;
    padding: 20px;
}

.notifTitle{
	font-size: 1.2em;
	font-weight : bold;
	/*text-align: center;*/
}

.notifClose{
	margin-top: 5px;
	float: right;
	transition: 0.3s all;
}

.notifClose:hover{
	color: white;
}

.n_success{
	background: #dff0d8;
  	color: #3c763d;
  	font-weight : 600;
}

.n_error{
	background: #f2dede;
  	color: #a94442;
  	font-weight : 600;
}

.n_info{
	background: #dee5f2;
  	color: #4682B4;
  	font-weight : bold;
}

.notifContainer ul{
	padding: 0;
	margin: 0;
  	z-index: 999;
}


/* NOTIF */

/* TRASH */

.trashContainer{
  width:18%;
  position:fixed;
  bottom:0px;
  text-align:center;
  z-index: -1;
  font-size: 7em;
  opacity: 0.25;
  color: white;
}

.trash{
	text-shadow: 0px 2px 0px rgba(255,255,255,.3), 0px -2px 0px rgba(0,0,0,.7);
}

/* TRASH */

.goto{
	position: absolute;
	left: 30px;
	bottom: 10px;
	font-size: 2.5em;
    text-shadow: 0px 2px 0px rgba(255,255,255,.3), 0px -2px 0px rgba(0,0,0,.7);
    opacity: 0.3;
    transition: 0.3s all;
}

.goto li{
    cursor: pointer;
}

.arbo{
    width: 17px;
}

.goto li:hover{
    opacity: 0.5;
    transition: 0.3s all;
}

.faupload{
	margin-top: 35px;
	font-size: 11em !important;
	color: white;
}

.uploadBox{
	text-align: center;
}

.uploadBoxTitle{
	margin-top: 10px;
	color: white;
	font-size: 2.2em;
}

.drag-reference-v, .drag-reference-h {
    border: 1px solid red;
    height: 0;
    position: absolute;
    width: 0;
}

.topbar{
  position: relative;
  text-align: center;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.3);
  width: 80px;
  margin: auto;
  border-radius: 0 0 15px 15px;
}

.topbar ul {
  padding: 0;
  margin: 0;
}

.topbar li{
  padding: 4px;
  display: inline-block;
}

.topbar li:hover{
  color: white;
}

.topbarselect{
  color: rgb(0, 0, 0);
}

.helpbtn {
  cursor: pointer;
}

.eventComp{
    background: rgba(47, 47, 47, 0.5);
    width: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    color: white;
    border-radius: 7px;
    z-index: 9999999;
}

.eventComp .titleEvt{
    font-weight: bold;
}

.eventComp .contentEvt{
    font-size: 0.8em;
    padding-bottom: 3px;
}

.barEvt{
    width: 100%;
    height: 6px;
    /*border: 1px solid #2980b9;*/
    border-radius: 6px;
    opacity: 0.7;
    background-image:
            repeating-linear-gradient(
                    -45deg,
                    #2b2b2b,
                    #2b2b2b 11px,
                    #5a5a5a 10px,
                    #5a5a5a 20px /* determines size */
            );
    background-size: 28px 28px;
    animation: move .75s linear infinite;
}

.btnEvent{
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid white;
    margin-right: 8px;
    cursor: pointer;
    background: rgba(40, 40, 40, 0.0);
    transition: all .5s;
    color: white;
    text-decoration: none;
}

.btnEvent:hover{
    transition: all .5s;
    background: rgba(40, 40, 40, 0.5);
    border: 1px solid #252424;
}

.alertClose{
    font-size: 1.5em;
    float: right;
    color: inherit;
    transition: color 0.2s;
    cursor: pointer;
}

.alertClose:hover{
    color: #1f1f1f;
    transition: color 0.2s;
}



/* The switch - the box around the slider */
.switchopt {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 12px;
}

/* Hide default HTML checkbox */
.switchopt input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switchopt .text{
    position: relative;
    left: -160px;
    top: 7px;
    width: 200px;
    display: inline-block;
}

.tooltipClassWidthFinal{
    width: 600px;
    max-width: 600px !important;
}