
<div class="login container" style="padding: 200px;">
    <div class="page-header">
        <h1>Espace Client</h1>
    </div>
    <form action="/users/loginuser" method="post">
        <input type="text" name="login" value="" class="form-control" id="login" autocomplete="false" placeholder="username"></br></br></br>
        <input type="password" name="password" value="" id="password" class="form-control" autocomplete="false" placeholder="password"></br></br></br>
        <div class="actions">
            <input type="submit" class="btn btn-submit" value="Se connecter" />
        </div>
    </form>
</div>
