<div class="login container" style="padding: 150px;">
    <div class="page-header">
        <h1>S'inscrire</h1>
    </div>
    <form action="/users/useradd" method="post">
        <label for="username">Username :</label>
        <input type="text" name="username" value="" class="form-control" id="username" placeholder="Username" autocomplete="false"></br>
        <label for="email">Email :</label>
        <input type="text" name="email" value="" class="form-control" id="email" placeholder="email" autocomplete="false"></br>
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" value="" class="form-control" id="password" placeholder="Mot de passe" autocomplete="false"></br>
        <label for="confpassword">Confirmer mot de passe :</label>
        <input type="password" name="confpassword" value="" class="form-control" id="confpassword" placeholder="Mot de passe" autocomplete="false"></br>
        <div class="g-recaptcha" data-sitekey="{{ key_site }}"></div>
        <input type="submit" class="btn btn-submit" value="S'enregistrer" style="margin-top: 20px" />
    </form>
</div>