<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PASA</title>
    <link rel="stylesheet" href="/webroot/css/bootstrap.min.css" type='text/css'>
    <link rel="stylesheet" type="text/css" href="/webroot/css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1200px)" type='text/css' href="/webroot/css/style_mobile.css">
    <link rel="stylesheet" href="/webroot/css/font-awesome.min.css">
    <link rel="stylesheet" href="/webroot/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/webroot/css/jquery.modal.css">
    <link rel="icon" type="image/png" href="/webroot/img/favicon.png" />
    <script type="text/javascript" src="/webroot/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/webroot/js/jquery.modal.js"></script>
    <script type="text/javascript" src="/webroot/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webroot/js/wow.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41982757-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-41982757-2');
    </script>
</head>
<body>
    <nav>
        <div id="custom-bootstrap-menu" class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="/">PASA</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-menubuilder">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/">Accueil</a></li>
                        <li><a href="">Score</a></li>
                        <li><a href="">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="connexion">
            <div class="container">
                <ul class="list-unstyled list-inline">
                    <li><a href="/client/home">Espace Client</a></li>
                    <li><a href="/users/logout">Déconnecter</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {{ content | safe }}

    <footer>
        <div class="container">
            <p id="footer-logo">PASA</p>
            <ul class="list-unstyled list-inline">
                <li><a href="#">CGV</a></li>
                <li><a href="#">CGU</a></li>
            </ul>
            <p id="copyright">© Copyright PASA. Tous droits réservés.</p>
        </div>
    </footer>
    <script type="text/javascript">new WOW().init();</script>
</body>
</html>