<header>
    <div class="container">
        <h1 class="wow fadeIn">Avoir les resultats du basketball facilement avec PASA</h1>
    </div>
    <video autoplay muted>
        <source src="/webroot/video/demo.mp4" type="video/mp4">
        Votre navigateur ne supporte pas les vidéos.
    </video>
</header>

<div class="container1">
    <div class="container">
        <h1 class="wow fadeIn">Féderation BasketBall Française</h1>
        <p class="wow fadeIn">L'application Web développé par Guillaume et Florian vous permet d'avoir les scores de basket</p>
        <img class="wow zoomIn" src="/webroot/img/editor.jpg" alt="editeur">
    </div>
</div>
